@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CourierNew";
  src: url("/cour.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-courier;
}
